:root {
    --primary-color: #055a05;

    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, san-serif;
}

footer {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 1fr;

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
main,

div,
section,
figure {
    border: 2px solid #ccc;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: #fff;
    text-align: center;
    background-color: var(--accent1-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 96%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 100px;
    position: absolute;
    right: 10%;
    top: 420px;

}

.hero article p {
    top: 400px;
    width: 87%;
    position: absolute;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article {
    color: #fff;
}

h2 {
    top: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:last-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    overflow: auto;
}

section:last-of-type h2 {
    position: absolute;
    left: 400px;
    top: 1100px;
}

figure {
    margin: 0;
    text-align: center;
    flex: 0 1 auto;
}

figure img {
    display: block;
    height: auto;
}

section:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

section:first-of-type h2 {
    left: 400px;
    position: relative;
    top: -100px;
}